.add-img{
    background-image: url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    margin: 20px 140px;
    height: 600px;
    text-align: center;
    color: white;
}
.happy{
    font-size: 32px;
    width: 259px;
    height: 40px;
    padding: 177px 530px 0px;
}
.new-year{
    font-size: 72px;
    text-align: center;
    width: 632px;
    height: 190px;
    padding: 0px 344px 177px;
}
.div2{
    text-align: center;
}
.off{
    color: #F00;
}
.our{
    color: #F00; 
}
.vector{
    background-image: url(images/Vectorrr.png);
    background-repeat: no-repeat;
    margin: 20px 140px;
    height: 600px;
    color: white;
}
.vectorp{
    width: 106px;
    height: 148px;
}