.add-img{
    background-image: url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    margin: 20px 140px;
    height: 600px;
    text-align: center;
    color: white;
}
.happy{
    font-size: 32px;
    width: 259px;
    height: 40px;
    padding: 177px 530px 0px;
}
.new-year{
    font-size: 72px;
    text-align: center;
    width: 632px;
    height: 190px;
    padding: 0px 344px 177px;
}
.div2{
    text-align: center;
}
.off{
    color: #F00;
}
.our{
    color: #F00; 
}
.vector{
    background-image: url(images/Vectorrr.png);
    background-repeat: no-repeat;
    margin: 20px 140px;
    height: 600px;
    color: white;
    padding: 20px 200px 30px 50px;
    border: 2px solid white;
    
}
.vectorp{
    width: 319px;
    height: 200px;
    position: relative;
    bottom: 200px;
    right: 30px;
    top: 20px;
    left: 900px;
    
    
    
}
.welcome{
    
height: 176px;
width: 500px;
font-size: 72px;

}
.dolor{
    width: 600px;
    height: 60px;
    font-size: 18px;
    
}
.Place{
    color: red;
}
.pdt{
    background-color: antiquewhite;

    height: 300px;
    text-align: center;
    padding: 100px;
    margin: 50px 200px;
    border-radius: 10px;
    font-size: 15px; 
}
.join{
    height: 40px;
    width: 150px;
    border-radius: 8px;
    background: #F00;
    font-size: 20px;
    color: white;
    border: 0;
}
.mmain{
    display: list-item;
}
.best-offer{
    color: red;
}
.coming-soon{
color: #070211;
font-size: 48px;
}
.dolor-sit{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.ellipse{
    width: 300px;
height: 300px;
border: 10px solid red;
padding: 10px;
border-radius: 175px;
}
.year{
    color: #F00;
font-size: 48px;
}
.dolor-sed{
    color: rgba(7, 2, 17, 0.60);
font-size: 20px;
}
.img96{
    width: 140px;
height: 140px;
flex-shrink: 0;
}