.header{
    margin: 20px 140px 20px 140px;
    
    background-image: url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
}
.text-color{
    color: white;
}
.happy{
    color: white;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 259px;
    height: 40px;
    padding-top: 220px;
    padding-right: 531px;
    padding-left: 530px;
    }

.new-year{
    color: white;
font-size: 72px;
font-family: Merriweather;
font-style: normal;
font-weight: 900;
line-height: 95px; 
width: 632px;
height: 190px;

padding-bottom: 300px;
padding-left: 344px;
padding-right: 344px;
}
.all{
    text-align: center;

}
